<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">ProfeDirect</a>
        </div>
        <button class="navbar-toggler"  type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
          </button>

        <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="collapse_target" >
            <ul class="navbar-nav">

                <!-- <li routerLinkActive="active">
                         <a routerLink="/login">login</a>
                </li>
                <li routerLinkActive="active">
                       <a routerLink="/signup">Sign-up</a>
                </li> -->
                <!-- <li routerLinkActive="active">
                    <a *ngIf="allpostcount==0" routerLink="/create-post">Create post</a>
                    <a *ngIf="allpostcount>0" routerLink="/create-post">Add Post</a>
                </li> -->
               
                <li class="nav-item active"  routerLinkActive="active" *ngIf="!isAuthenticated">                    
                    <a class="nav-link"  (click)="isMenuCollapsed = true" style="text-decoration: none; color: black;" routerLink="/sobre">Sobre Nosotros</a>
                </li>
                <li class="nav-item"  routerLinkActive="active" *ngIf="!isAuthenticated">                    
                    <a class="nav-link"  (click)="isMenuCollapsed = true" style="text-decoration: none; color: black;" routerLink="/trabaja">Trabaja con Nosotros</a>
                </li>
                <li class="nav-item"  routerLinkActive="active" *ngIf="!isAuthenticated">                    
                    <a class="nav-link"  (click)="isMenuCollapsed = true" style="text-decoration: none; color: black;" routerLink="/soporte">Soporte</a>
                </li>                
                <li class="nav-item"  routerLinkActive="active" *ngIf="isAuthenticated && isemailverfied">
                    <a class="nav-link"  (click)="isMenuCollapsed = true" style="text-decoration: none; color: black;" routerLink="/myposts">MyPosts</a>
                </li>
                <li class="nav-item"  routerLinkActive="active" *ngIf="isAuthenticated && !isprofileSet ">
                    <a class="nav-link"  (click)="isMenuCollapsed = true" style="text-decoration: none; color: black;"routerLink='/myprofile'>CreateProfile</a>
                </li>
                <li class="nav-item"  routerLinkActive="active" *ngIf="isAuthenticated && isprofileSet && isemailverfied">
                    <a class="nav-link" (click)="isMenuCollapsed = true"  style="text-decoration: none; color: black;" [routerLink]="['/myprofile', username]">MyProfile</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
            
                <li class="nav-item active" routerLinkActive="active" *ngIf="!isAuthenticated">                    
                    <a class="nav-link"   (click)="isMenuCollapsed = true" style="text-decoration: none; color: black;" routerLink="/auth">Iniciar sesión</a>
                </li>
                <li class="nav-item"  *ngIf="isAuthenticated">
                    <a class="nav-link"  (click)="isMenuCollapsed = true" style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
             
            </ul>
        </div>
    </div>
</nav>

<div class="container middle">

    <!-- <ngx-spinner bdColor="rgb(221,214,243,0.5)" size="medium" type="ball-spin-fade" color="#42275a" fullScreen=" true">
      <p style="color: Black;font-size: 20px; font-weight: 600;">Loading News... </p>
  </ngx-spinner> -->
    <router-outlet></router-outlet>
</div>

<div *ngIf="!isloading">
    <!-- <footer class="fadeInUp col-md-12">
        <div class="footer-icons">
        </div>
    </footer> -->
    <footer class="footer" style="max-width: 100%;">
        <div class="footerContainer">
            <div class="f1">
                <div class="profeLogo">
                    <img src="/assets/logosprofe/profelogo2.png" style="width: 8vh;height: 8vh;" alt="ProfeDirect">
                </div>
                <br>
                "La enseñanza es una virtud. Enséñame y aprendere" 
                <p></p>
                
                <div class="logosIcons"> &nbsp;                    
                   <a href="https://facebook.com/"><i class="fa-brands fa-facebook"></i></a> &nbsp;
                   <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a> &nbsp;
                   <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a> &nbsp;
                   <a href="https://youtube.com/"><i class="fab fa-youtube"></i></a> &nbsp;
                   <a href="https://ec.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                </div>
                © 2022 ProfeDirect, Inc.
            </div>
            <div class="f2">
                <ul style="list-style-type: none;">
                    <h4>Explora</h4>
                    <br>
                    <li><a routerLink="/sobre">Sobre nosotros</a></li>
                    <br>
                  </ul>
            </div>
            <div class="f3">
                <ul style="list-style-type: none;">
                    <h4>¡Únetenos!</h4>
                    <br>
                    <li><a routerLink="/trabaja">Trabaja con nosotros</a></li> 
                  </ul>
            </div>
            <div class="f4">
                <ul style="list-style-type: none;">
                    <h4>Ayuda</h4>
                    <br>
                    <li><a routerLink="/soporte">Soporte</a></li>
                  </ul>
            </div>
          </div>        
    </footer>
</div>

<!-- <h5 *ngIf="!isloading" class="text-center copyright"> © Copyrights reserved by ProfeDirect</h5> -->