

<h2>¡Escríbenos!</h2>
<h4>Responderemos tus dudas por correo</h4>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title" style="font-size: 24px;">¡Escríbenos!</h4>
                
                <h6 class="card-subtitle">Responderemos tus dudas por correo</h6> -->
                <form class="m-t-5">
                    <div class="form-group">
                        <label for="exampleInputEmail111">Nombres y Apellidos</label>
                        <input type="text" class="form-control" id="exampleInputEmail111" placeholder="Ingresar Nombre">
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleInputEmail111">Apellidos</label>
                        <input type="text" class="form-control" id="exampleInputEmail111" placeholder="Ingresar Apellidos">
                    </div> -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail111">Numero Telefónico</label>
                        <input type="tel" class="form-control" id="exampleInputEmail111" placeholder="000">
                    </div> 
                    <div class="form-group">
                        <label>Ingrese tu duda o problema</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2 m-b-15">
                        <input type="checkbox" class="custom-control-input" id="checkbox0" value="check">
                        <label class="custom-control-label" for="checkbox0">Aceptar Términos y Condiciones</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card" style="background-color: white; text-align: justify;">
                <div class="card-body">
                    Duis porttitor viverra urna, vel egestas ex. Maecenas porta libero ac velit tincidunt feugiat. Nullam turpis lectus, volutpat a erat ac, facilisis eleifend diam. Duis vulputate augue sit amet feugiat placerat. Integer vitae purus consectetur, pulvinar metus id, ultrices est. Donec fringilla, diam sed imperdiet faucibus, metus dui imperdiet lectus, id rutrum quam lectus in nulla. Duis pellentesque lobortis consectetur.
                    <br>
                    <br>
                    Duis porttitor viverra urna, vel egestas ex. Maecenas porta libero ac velit tincidunt feugiat. Nullam turpis lectus, volutpat a erat ac, facilisis eleifend diam. Duis vulputate augue sit amet feugiat placerat. Integer vitae purus consectetur, pulvinar metus id, ultrices est. Donec fringilla, diam sed imperdiet faucibus, metus dui imperdiet lectus.
                </div>
                <br>
                <div class="card-body">
                      <div class="logosIconss">     
                            <p style="font-size: 16px; font-weight: bold;">También contáctanos por nuestras redes sociales:</p>
                                 &nbsp; &nbsp;             
                             <a href="https://facebook.com/"><i class="fab fa-facebook" style="font-size: 40px;"></i></a> &nbsp; &nbsp; &nbsp;
                             <a href="https://instagram.com/"><i class="fab fa-instagram" style="font-size: 40px;"></i></a> &nbsp; &nbsp; &nbsp;
                             <a href="https://twitter.com/"><i class="fab fa-twitter" style="font-size: 40px;"></i></a> &nbsp;
                         </div>
                </div>
        </div>

    </div>
</div>


