<div class="row">
    <div class="col-lg-6">
        <h4 class="m-b-0"></h4>
        <div class="card" style="background-color: white;text-align: justify;">
            <div class="card-body collapse show">
                <h4 class="card-title" style="font-weight: 500;font-size: 30px;">Quiénes somos</h4>
                <p class="card-text" >
                    En ProfeDirect aspiramos a impulsar el aprendizaje a través de una amplia variedad de clases y materias dirigidas para Alumnos de cualquier rango de edad.
                </p>

                <p class="card-text">
                    Aquí encontraras un grupo grande de profesionales con experiencia y con un gran ámbito de compartir sus conocimientos. Nosotros 
                    nos ofrecemos a ofrecer un servicio de primera con el éxito en mente.
              </p>
                 <!-- <h4 class="card-title" style="font-weight: 500;font-size: 27px;">
                    F.A.Q Preguntas Frecuentes
                </h4> -->

            </div>
        </div>
        <br>
        <div class="card" style="background-color: white; text-align: justify;">
            <div class="card-body">
                  <h4 class="card-title" style="font-weight: 500;font-size: 30px;">Nuestras Objetivos</h4> 
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac vestibulum felis. Ut nec urna ultrices, egestas nisl ac, posuere sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas gravida ante vel elit commodo euismod.
                  </p> 
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        
        
        <br>
        <h4 class="m-b-0"></h4>
        <div class="card" style="background-color: white; text-align: justify; text-align: center; font-weight: 800;">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="assets/imagenesprofe/fotoejemplo6.png" style="width: 100%;"alt="Random first slide">
                    <div class="carousel-caption">

                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="assets/imagenesprofe/fotoejemplo4.png" style="width: 100%;"alt="Random second slide">
                    <div class="carousel-caption">
                        
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="assets/imagenesprofe/fotoejemplo3.png" style="width: 100%;"alt="Random third slide">
                    <div class="carousel-caption">
                    
                    </div>
                </ng-template>
            </ngb-carousel>
        <br>
        <br>
        <br>
        
        <br>
        

        </div>
    </div>
</div>
